SECRET_KEY=change-me-to-a-random-secret
DEBUG=False
ALLOWED_HOSTS=*
DATABASE_URL=sqlite:///db.sqlite3
CUSTOMER_SERVICE_URL=http://customer-service:8000
BOOK_SERVICE_URL=http://book-service:8000
CART_SERVICE_URL=http://cart-service:8000
ORDER_SERVICE_URL=http://order-service:8000
REVIEW_SERVICE_URL=http://comment-rate-service:8000
RECOMMENDER_SERVICE_URL=http://recommender-ai-service:8000
CATALOG_SERVICE_URL=http://catalog-service:8000
STAFF_SERVICE_URL=http://staff-service:8000
MANAGER_SERVICE_URL=http://manager-service:8000
