SECRET_KEY=change-me-to-a-random-secret
DEBUG=False
ALLOWED_HOSTS=*
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=comment_rate_db
POSTGRES_MIGRATION_URL=postgres://user:password@localhost:5432/comment_rate_db
